In [1]:
import pandas as pd
data = pd.read_csv("VegasReviews.csv")
data.head()

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday,Score,5 star?
0,USA,11,4,13,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773,North America,9,January,Thursday,5,Yes
1,USA,119,21,75,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773,North America,3,January,Friday,3,No
2,USA,36,9,25,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773,North America,2,February,Saturday,5,Yes
3,UK,14,7,14,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773,Europe,6,February,Friday,4,No
4,Canada,5,5,2,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773,North America,7,March,Tuesday,4,No

In [13]:
data['User country'],_ = pd.factorize(data['User country'])
data['Pool'],_ = pd.factorize(data['Pool'])
data['Gym'],_ = pd.factorize(data['Gym'])
data['Tennis court'],_ = pd.factorize(data['Tennis court'])
data['Spa'],_ = pd.factorize(data['Spa'])
data['Casino'],_ = pd.factorize(data['Casino'])
data['Hotel name'],_ = pd.factorize(data['Hotel name'])
data['Free internet'],_ = pd.factorize(data['Free internet'])
data['User continent'],_ = pd.factorize(data['User continent'])
data['Review month'],_ = pd.factorize(data['Review month'])
data['Review weekday'],_ = pd.factorize(data['Review weekday'])
data['5 star?'],_ = pd.factorize(data['5 star?'])
data['Traveler type'],_ = pd.factorize(data['Traveler type'])

In [14]:
data['Score'].head()

0    5
1    3
2    5
3    4
4    4
Name: Score, dtype: int64

In [15]:
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [16]:
X = data.iloc[:, 1:-2].values  
y = data.iloc[:, 19].values

In [39]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [40]:
model = GaussianNB()

In [41]:
model.fit(X_train, y_train)

GaussianNB(priors=None)

In [42]:
from sklearn.metrics import classification_report, confusion_matrix  
y_pred = model.predict(X_test)

In [43]:
print(np.mean(y_pred != y_test))
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

0.40594059405940597
[[19 32]
 [ 9 41]]
             precision    recall  f1-score   support

          0       0.68      0.37      0.48        51
          1       0.56      0.82      0.67        50

avg / total       0.62      0.59      0.57       101